@model EventManagmentSystem.Models.ViewModel.PaymentViewModel
<h3>Checkout</h3>

<br />

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Payment" asp-action="Payment" method="post">
    <div class="form-group">
        <label asp-for="IBAN">IBAN:</label>
        <input asp-for="IBAN" type="text" class="form-control" id="iban" required>
        
        @TempData["IbanMessage"]
    </div>

    <br />

    <div class="form-group">
        <label asp-for="CardOwner">Kartenbesitzer*in:</label>
        <input asp-for="CardOwner" type="text" class="form-control" id="owner" required>
        
        @TempData["CardOwnerMessage"]
    </div>

    <br />

    <div class="form-group">
        <label asp-for="ExpiredDateTime">Ablaufdatum:</label>
        <input asp-for="ExpiredDateTime" type="date" class="form-control" id="expireDate" required>
        
        @TempData["ExpireDateMessage"]
    </div>

    <br />

    <div class="form-group">
        <label asp-for="SecurityNumber">Sicherheitsnummer:</label>
        <input asp-for="SecurityNumber"  type="number" class="form-control" id="securityNumber" max="999" required>
        
        @TempData["SafetyNumberMessage"]
    </div>

    <br />

    <button id="checkout" type="submit" class="btn btn-primary">Bezahlen</button>
</form>