@model EventManagmentSystem.Models.ViewModel.EventOverview

@{
    ViewData["Title"] = "Event Overview";
}

<h1>Aktuelle Veranstaltungen</h1>
<hr class="spacingLine-light" />

<div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @{
            bool isActive = true;
            @foreach (var eventItem in Model.ListOfEvents)
            {
                <div class="carousel-item @(isActive ? "active" : "")">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">@eventItem.Title</h5>
                            <p class="card-text">@eventItem.Description</p>
                            <p class="card-text">Datum: @eventItem.Date.ToString("dd/MM/yyyy")</p>
                            <p class="card-text">Preis: @eventItem.Price €</p>
                            <p class="card-text">@eventItem.AmountOfTickets Tickets verfügbar</p>
                            <a asp-action="Event" asp-controller="Event" asp-route-id="@eventItem.EventId" class="btn btn-primary float-end">Zum Event</a>
                        </div>
                    </div>
                </div>
                isActive = false;
            }

        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Vorherige</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Nächste</span>
    </button>
</div>
