@model EventManagmentSystem.Models.ViewModel.AdminViewModel
<PageTitle>Adminübersicht</PageTitle>

<h3>Adminübersicht</h3>
@if (Model.Users != null && Model.Users.Any())
{
<table>
    <thead>
        <tr>
            <th>UserID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Admin Status</th>
            <th>UserName</th>
            <th></th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>
                <td>@user.UserName</td>
                <!--hier sollen die Methoden aufgerufen werden -->
                <td><a href="@Url.Action("Edit", "Admin", new { id = @user.UserId })">Edit</a></td>
                    <td>
                        <form action="@Url.Action("DeleteUser", "Admin", new { userId = user.UserId })" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?');">Löschen</button>
                        </form>
                     </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <tbody>
        <tr>
            <td colspan="9" class="text-center">Keine Benutzer gefunden.</td>
        </tr>
    </tbody>
}

