@model EventManagmentSystem.Models.ViewModel.AdminViewModel
<PageTitle>Adminübersicht</PageTitle>

<h3>Adminübersicht</h3>
<table>
    <thead>
        <tr>
            <th>UserID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Admin Status</th>
            <th>UserName</th>
            <th></th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>
                <td>@user.UserName</td>
                <!--hier sollen die Methoden aufgerufen werden -->
                <td><a href="@Url.Action("Edit", "Admin", new { id = @user.UserId })">Edit</a></td>
                <td><a  href="@Url.Action("Delete", "Admin", new { id = @user.UserId })">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

