<!-- model EventManagmentSystem.Models.ViewModel.AdminViewModel-->
    <h3>Adminübersicht</h3>

    <div id="adminViewSwitcher" class="justify-content-evenly">
        <a asp-area="" asp-controller="Admin" asp-action="Admin" class="btn-primary">Mein Konto</a>
        <a asp-area="" asp-controller="Admin" asp-action="Admin_UserOverview" class="btn-primary">Nutzerübersicht</a>
    </div>

    <h4>Event Übersicht</h4>
@if (Model.Events != null && Model.Events.Any()) {
    <table>
        <thead>
            <th>Event ID</th>
            <th id="eventTitle">Titel</th>
            <th id="eventDesc">Beschreibung</th>
            <th id="eventLocation">Ort</th>
            <th id="eventDate">Datum</th>
            <th id="deleteEvent">Event löschen</th>
            </thead>
            <tbody>
            @foreach (var user in Model.Events)
            {
                    <tr>
                        <td>@event.EventId</td>
                        <td>@event.Title</td>
                        <td>@event.Description</td>
                        <td>@event.Location</td>
                        <td>@event.Date</td>

                        <td>
                            <form action="@Url.Action()" method="post">
                                <button type="submit" class="btn btn-danger" onclick="">Event Löschen</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
}
else
{
<tbody>
    <tr>
        <td colspan="9" class="text-center">Keine Events gefunden.</td>
    </tr>
</tbody>
}
