@model EventManagmentSystem.Models.ViewModel.AdminViewModel

<!--SetErrorMessage aus AdminController-->
@{
    ViewData["Title"] = "Admin";
}

<style>
    .roundEdges {
        border-radius: 0px;
        border-image: linear-gradient(45deg, #00ffff, #ff0080, #cc0000) 1;
    }
</style>

<h1 class="animated-header">Adminübersicht</h1>

<hr class="spacingLine-light" />
@if (Model.Users != null && Model.Users.Any())
{
    <table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>UserID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Admin Status</th>
            <th>UserName</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>
                <td>@user.UserName</td>
                <td>@user.Role</td>
                <!--hier sollen die Methoden aufgerufen werden -->
                <td><a href="@Url.Action("Edit", "Admin", new { id = @user.UserId })">
                            <button type="submit" class="btn btn-secondary">Edit</button>
                </a></td>
                    <td>
                        <form action="@Url.Action("DeleteUser", "Admin", new { userId = user.UserId })" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?');">Löschen</button>
                        </form>
                     </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <tbody>
        <tr>
            <td colspan="9" class="text-center">Keine Benutzer gefunden.</td>
        </tr>
    </tbody>
}
<!--Events-->
<h1 class="animated-header">Eventübersicht</h1>
<hr class="spacingLine-light" />
@if (Model.Events != null && Model.Events.Any())
{
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>EventID</th>
                <th>Title</th>
                <th>Beschreibung</th>
                <th>Datum</th>
                <th>Price</th>
                <th>Tickets</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventItem in Model.Events)
            {
                <tr>
                    <td>@eventItem.EventId</td>
                    <td>@eventItem.Title</td>
                    <td>@eventItem.Description</td>
                    <td>@eventItem.Date</td>
                    <td>@eventItem.Price</td>
                    <td>@eventItem.NumberOfSoldTickets</td>
                    <td>
                        <form action="@Url.Action("DeleteEvent", "Event", new { eventId = eventItem.EventId })" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Sind Sie sicher, dass Sie dieses Event löschen möchten?');">Löschen</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <tbody>
        <tr>
            <td colspan="9" class="text-center">Keine Events gefunden.</td>
        </tr>
    </tbody>
}

