@model EventManagmentSystem.Models.ViewModel.UserViewModel;
@{
    ViewData["Title"] = "Seller";
}

<h3>Mein Konto</h3>

<main>
    <div class="profile-header">
        <h4>Benutzerdaten</h4>
        <hr class="spacingLine-light" />
        <dl class="row">
            <dt class="col-sm-3">E-Mail</dt>
            <dd class ="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Vorname</dt>
            <dd class="col-sm-9">@Model.FirstName</dd>

            <dt class="col-sm-3">Nachname</dt>
            <dd class="col-sm-9">@Model.LastName</dd>

            <dt class="col-sm-3">Benutzername</dt>
            <dd class="col-sm-9">@Model.UserName</dd>
            <!-- Weitere Benutzerinformationen hier -->
        </dl>
    </div>
    <hr class="spacingLine-light" />
    <button id="addEventBtn">Event hinzufügen</button>

    <!-- Formular zum Löschen des eigenen Kontos -->
    <form method="post" action="@Url.Action("DeleteKonto", "Seller")"
          onsubmit="return confirm('Sind Sie sicher, dass Sie Ihr Konto löschen möchten? Dieser Vorgang kann nicht rückgängig gemacht werden.');">
    </form>

    <!--Link zu MyEvents Seite-->
    <a asp-action="MyEvents" asp-controller="Seller" methode="Get">Meine Events</a>
</main>