@model EventManagmentSystem.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "Event";
}

<div class="form-group">
	<label for="title">Event Titel:</label>
	<textarea id="title">@Model.Title</textarea>
</div>

<br />

<div class="form-group">
	<label for="description">Beschreibung:</label>
	<textarea  id="description">@Model.Description</textarea>
</div>

<br />

<div class="form-group">
    <label for="date">Datum und Uhrzeit:</label>
    <textarea type="datetime-local" id="date">@Model.Date</textarea>  
</div>

<br />

<div class="form-group">
	<label for="price">Preis:</label>
	<textarea type="number" id="price">@Model.Price €</textarea> 
</div>

<br />

<div class="form-group">
	<label for="title">Tickets verfügbar:</label>
	<textarea type="number" id="amountOfTickets">@Model.AmountOfTickets</textarea> 
</div>

<div>
	<label for="state">Status:</label>
	<textarea id="state">@Model.State</textarea>
</div>

<br />

<button id="buy" type="submit" class="btn btn-primary">Kaufen</button>
