@model EventManagmentSystem.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "Event";
}

<form method="post" action="/Booking/Book">
    <div class="form-group">
        <label for="title">Event Titel:</label>
        <textarea id="title">@Model.Title</textarea>
    </div>

    <br />

    <div class="form-group">
        <label for="description">Beschreibung:</label>
        <textarea id="description">@Model.Description</textarea>
    </div>

    <br />

    <div class="form-group">
        <label for="date">Datum und Uhrzeit:</label>
        <textarea type="datetime-local" id="date">@Model.Date</textarea>
    </div>

    <br />

    <div class="form-group">
        <label for="price">Preis:</label>
        <textarea type="number" id="price">@Model.Price €</textarea>
    </div>

    <br />
    <br />
    <form asp-controller="Booking" asp-action="Book" method="post">
        <input type="hidden" name="eventId" value="@Model.EventId" />
        <input type="hidden" name="userId" value="@User.Identity.Name" />
        <label for="numberOfTickets">Anzahl der Tickets:</label>
        <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" required>
        <button type="submit">Tickets buchen</button>
    </form>
</form>
