@model EventManagmentSystem.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "Event";
}
<h1>Event Übersicht</h1>
<form method="post" action="/Booking/Book">
    <div class="form-group">
        <label for="title">Event Titel:</label>
        <textarea id="title">@Model.Title</textarea>
    </div>

    <br />

    <div class="form-group">
        <label for="description">Beschreibung:</label>
        <textarea id="description">@Model.Description</textarea>
    </div>

    <br />

    <div class="form-group">
        <label for="date">Datum und Uhrzeit:</label>
        <textarea type="datetime-local" id="date">@Model.Date</textarea>
    </div>

    <br />

    <div class="form-group">
        <label for="price">Preis:</label>
        <textarea type="number" id="price">@Model.Price €</textarea>
    </div>

    <!--Tickets Anzahl-->
    <div class="form-group">
        <label for="tickets">Tickets:</label>
        <textarea id="tickets">@Model.AmountOfTickets</textarea>
    </div>

    <br />
</form>
<script>
    function validateNumberOfTickets() {
        var availableTickets = @Model.AmountOfTickets;
        var numberOfTickets = parseInt(document.getElementById("numberOfTickets").value);

        if (numberOfTickets > availableTickets) {
            alert("Die Anzahl der angeforderten Tickets darf nicht größer sein als die verfügbare Anzahl von Tickets.");
            return false;
        }
        return true;
    }
</script>
<form asp-controller="Payment" asp-action="Payment" method="get" onsubmit="return validateNumberOfTickets()">
    <!-- Formularfelder für Event-Details und Anzahl der Tickets -->
    <input type="hidden" name="eventId" value="@Model.EventId" />
    <label for="numberOfTickets">Anzahl der Tickets:</label>
    <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" required>
    <button type="submit">Tickets buchen</button>
</form>
