@model EventManagmentSystem.Models.ViewModel.EventOverview

@{
    ViewData["Title"] = "Event Overview";
}

<h1>Event Overview</h1>
<hr class="spacingLine-light" />

<ul>
    @foreach (var eventItem in Model.ListOfEvents)
    {
        <li>
            <a asp-action="Event" asp-controller="Event" asp-route-id="@eventItem.EventId">
                <strong>@eventItem.Title</strong> - @eventItem.Date.ToString("dd/MM/yyyy")
                <p>@eventItem.Description</p>
                <p>@eventItem.Price €</p>
            </a>
        </li>
    }
</ul>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>13.05.2024</td>
    </tr>
    <tr>
        <td>Event 6</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>21.05.2024</td>
    </tr>
    <tr>
        <td>Event 7</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>25.05.2024</td>
    </tr>
    <tr>
        <td>Event 8</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>26.05.2024</td>
    </tr>
    <tr>
        <td>Event 9</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>28.05.2024</td>
    </tr>
    <tr>
        <td>Event 10</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>29.05.2024</td>
    </tr>
    <tr>
        <td>Event 11</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>30.05.2024</td>
    </tr>
    <tr>
        <td>Event 12</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>31.05.2024</td>
    </tr>
</table>